In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"name": ["ward", "gio", "bekka"], "age": [26, 24, 28]})

In [3]:
df

    name  age
0   ward   26
1    gio   24
2  bekka   28

In [5]:
df["age"].describe()

count     3.0
mean     26.0
std       2.0
min      24.0
25%      25.0
50%      26.0
75%      27.0
max      28.0
Name: age, dtype: float64

In [8]:
df = pd.read_csv("/Users/giorgiadimiccoli/Downloads/World_Happiness_2015.csv")

In [10]:
df.groupby("Region")