In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"name": ["ward", "gio", "bekka"], "age": [26, 24, 28]})

In [3]:
df

    name  age
0   ward   26
1    gio   24
2  bekka   28